input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active,
input[type="range"]::-webkit-slider-thumb:focus {
  background: #fff;
  border: 3px solid #664aff;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  background: #664aff;
}
