@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.toggle-bg:after {
  content: "";
  background: #fff;
  @apply absolute top-0.5 left-0.5 border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
}

input:checked + .toggle-bg:after {
  transform: translateX(100%);
  border-color: #fff;
}

input:checked + .toggle-bg {
  @apply bg-blue-500 border-blue-500;
}
