@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-bg:after {
  content: "";
  background: #fff;
  @apply absolute top-0.5 left-0.5 h-5 w-5 rounded-full border border-gray-300 shadow-sm transition;
}

input[type="checkbox"]:checked + .toggle-bg:after {
  transform: translateX(100%);
  border-color: #fff;
}

input[type="checkbox"]:checked + .toggle-bg {
  @apply border-blue-500 bg-blue-500;
}
